@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 28px;
  margin: 20px auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

body {
  background-color: hsl(225, 100%, 98%);
}

.weather-app-wrapper,
.container {
  max-width: 550px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

.weather-app {
  padding: 20px;
  border: 1px solid hsl(224, 23%, 55%);
  border-radius: 5px;
  background-color: #fff;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#github {
  margin-top: 15px;
}
