@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  width: 320px;
  margin: 0 auto;
  background: #e5f6f6;
  font-family: "Open Sans", sans-serif;
}

.weather-app.wrapper {
  max-width: 280px;
}

.search {
  width: 95%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 80%;
  border: 3px solid #000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.searchTerm:focus {
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #000;
  background-color: transparent;
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 50%;
  max-width: 350px;
  position: relative;
  margin-top: 15%;
  top: 50%;
  left: 50%;
}

#city {
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

h5 {
  margin-top: 5px;
  text-align: center;
}

.today-wrapper {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 250px;
  padding: 5%;
  background-color: #27e4ae;
  color: #000;
  text-transform: capitalize;
  border-radius: 5px;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

#conditions {
  text-transform: capitalize;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

#temperature {
  margin: 6px;
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

#github {
  margin-top: 20px;
}

a:link,
a:visited {
  font-weight: bold;
  color: #000;
}
