@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  width: 430px;
  margin: 0 auto;
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
}

.search {
  width: 90%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0000;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #000;
  background-color: transparent;
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 40%;
  position: relative;
  margin-top: 15%;
  top: 50%;
  left: 50%;
}

h1 {
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  text-align: center;
  text-transform: capitalize;
}

.today-wrapper {
  width: 30%;
  background-color: #b4cdcf;
  color: #000;
  text-transform: capitalize;
}
