* {
  max-width: 800px;
  overflow: auto;
}

#weather-app {
  font-family: sans-serif;
  margin: 0 auto;
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 40px 20px;
  background-image: linear-gradient(#489ff3, #424af0);
  color: #f0f8ff;
  justify-content: center;
}

#search-form {
}

h1 {
  padding: 14px 0 8px 0;

  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  margin-left: 40px;
}
