body {
  /*background-color: #1f7ea1;
*/
}

.container {
  position: relative;
  max-inline-size: 50%;
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #37a6d2;
}

.weather-app {
  color: black;
  padding: 40px 20px;
  font-family: "Open Sans", sans-serif;
}

#today {
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  max-inline-size: 50%;
  padding: 7%;
  background-color: #37a6d2;
  margin-right: 0;
}

h1 {
  padding: 20px 20px 7px 20px;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  display: inline-block;
}

a {
  color: black;
}
